.terraform/
files/k8s
files/boundary/boundary-deployment.yaml
files/boundary/license.hclic
modules/infra/aws/cluster/tmp/*
scripts/createbucket.sh
scripts/test*
scripts/scratch*
json
generated/*
kubeconfig
connect_k8s.sh
scratch.md
webapp.yaml
terraform.tfstate*
tcpdump*
*kubeconfig*
.terraform*
*.DS_Store
*.tmp
.envrc